body {
    font-family: arial;
}

#MainBody {
    display: inline-block;
}

table {
    margin-top: 12px;
    border-collapse: collapse;
    box-shadow: 2px 2px;
}

h1 {
    font-size: 28px;
    color: #4080D2;
}

h1.ErrorMessage {
    color: #FF0000;
}

th {
    position: sticky;
    top: 0;
    background-color: #4080D2;
}

td,
th {
    vertical-align: middle;
    text-align: left;
    border: 1px solid #7BA9E5;
    padding: 6px 6px;
}

#Navigation li {
    display: inline-block;
    font-size: 20pt;
    border: 2.5px solid #aaa;
    background-color: #eee;
    text-align: justify;
    padding: 5px 5px 1px 5px;
    margin: auto 6px;
    border-radius: 20px 20px 0px 0px;
}

#Navigation {
    background-color: #7BA9E5;
    border: 2.5px solid #4080D2;
    width: 120%;
    margin-left: -30px;
    padding-left: 40px;
}

#DetailsTable {
    height: 300px;
    width: 100%;
    overflow: scroll;
}

input {
    margin: 3px;
}

.ActionButtons Button {
    background-color: #4080D2;
    border: none;
    border-radius: 20px 0px 0px 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: block;
}

#Filters {
    height: 100%;
    width: 380px;
    position: fixed;
    z-index: 1;
    top: 18px;
    right: 0;
    background-color: #7BA9E5;
    border: 2.5px solid #7BA9E5;
    overflow-x: hidden;
    padding: 30px 30px;
}

#Filters h3 {
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 0px;
}

#filters {
    color: white;
    text-align: center;
}